*{
	box-sizing: border-box;
	}
body{
	background-image: url("../img/cielo.jpg");
	font-size: 20px;
}
.bg-vh{
	height: 100vh;
}
#nombres{
	font-family: "Clicker Script", cursive;
	margin:0;
	font-size: 120px;
	text-shadow: 5px 5px 5px  #ffc400;
	color: #ffc400;
}
#contact .ambar{
	color: #ffc400;
	padding: 12% 0;
}
#developer{
	font-family: 'Bungee Shade', cursive;
	}
#header{
	background-image: url("../img/bkg_portafolio.jpg");
	padding: 5% 6% 8% 6%;
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}
#nave{
	background-image: url("../img/avistamiento.png");
	background-repeat: no-repeat;
	background-size: 18%;
	height: 180px;
	z-index: 99;
}
#ovni{
	background-image: url("../img/nave.png");
	background-repeat: no-repeat;
	background-size: 10%;
	height: 100px;
	z-index: 99;
}
.hidden{
	display: none;
}
#mySelf .card-panel{
	text-shadow: 1px 1px 1px  #ffc400;
	color: #ffc400 ;

}
.fixed-action-btn{
	bottom: 45px; 
	right: 24px;
}
#cohete{
	background-position: top;
	background-image: url("../img/lanave.png");
	background-repeat: no-repeat;
	background-size: 14%;
	height: 100vh;
	padding: 20% 3%;
}
section .about{
	text-align: center;
	z-index: 99;
	color: #ffc400;
	font-family: 'Oleo Script Swash Caps', cursive;
}
#human{
	background-position: bottom;
	background-image: url("../img/astronauta.png");
	background-repeat: no-repeat;
	background-size: 50%;
	height: 100vh;
	padding: 20% 3%;
}
#works .trabajos{
	padding: 10% 0;
}

.planetas{
	background-position: top;
	background-repeat: no-repeat;
	height: 100vh;
}
#sol{
	background-image: url("../img/sol.gif");
	background-size: 50%;
}
#ceres{
	background-image: url("../img/ceres.png");
	background-size: 50%;
}
#marte{
	background-image: url("../img/marte.png");
	background-size: 40%;
}

#tierra{
	background-image: url("../img/tierra.gif");
	background-size: 40%;
}
#venus{
	background-image: url("../img/venus.png");
	background-size: 40%;
}
#mercurio{
	background-image: url("../img/mercurio.png");
	background-size: 40%;
}
#saturno{
	background-image: url("../img/saturno.png");
	background-size: 50%;
}
#urano{
	background-image: url("../img/urano.png");
	background-size: 40%;
}
#neptuno{
	background-image: url("../img/neptune.png");
	background-size: 40%;
}
#pluton{
	background-image: url("../img/pluton.png");
	background-size: 40%;
} 
#jupiter{
	background-image: url("../img/jupiter.png");
	background-size: 40%;
}
#none{
	display: none;
}

@media. (max-width: 900px) {

}
@media (max-width: 700px) {
	
}
@media (max-width: 600px) {
	body{
			font-size: 16px;
	}
	header .fixed-action-btn{
		display: none;
	}
	#header{
		background-size: 350%;
		padding: 1%;
	}
	#nave{
		background-size: 20%;
		height: 90px;
		z-index: 99;
	}
	#ovni{
		background-image: url("../img/nave.png");
		background-repeat: no-repeat;
		background-size: 13%;
		height: 50px;
		z-index: 99;
	}
	#none{
	display: block;
	}

	#block{
		display: none;
	}


}