*{
	box-sizing: border-box;
	}
body{
	background-color: #1D292C;
	font-size: 18px;
	font-family: "Special Elite", cursive;
	letter-spacing: 1px;
}
.bg-vh{
	height: 100vh;
}
header .btn-floating {
	background-color: #B16084;
}
#nombres{
	color: white;
	display: none;
	font-family: "Bungee Shade", cursive;
	font-size: 120px;
	margin:0;
	padding: 3%;
	text-shadow: 5px 5px 5px  #B16084;
}
#developer{
	color: white;
	font-family: "Special Elite", cursive;
	}
#header{
	background-attachment: fixed;
	background-image: url("../img/bg.jpg");
	background-size: 100%;
	padding: 5%;
}
#nave{
	background-image: url("../img/avistamiento.png");
	background-size: 15%;
	height: 250px;
	z-index: 99;
}
#ovni{
	background-image: url("../img/nave.png");
	background-size: 5%;
	height: 70px;
	z-index: 99;
}
.bgr-nr{
	background-repeat: no-repeat;
}
.bgp-b{
	background-position: bottom;
}
#cohete{
	background-position: top;
	background-image: url("../img/lanave.png");
	background-size: 14%;
	padding: 10% 3%;
}
#human{
	background-image: url("../img/astronauta.png");
	background-position: bottom;
	background-size: 50%;
	padding: 20% 3%;
}
#alien{
	background-position: center;
	background-image: url("../img/et.png");
	background-size: 80%;
	padding: 10% 3%;
}
p {
	text-align: justify;
}
.stronger{
	font-weight: bolder;
}
.hidden{
	display: none;
}
#block{
	padding: 2% 10%;
}
#block p {
	padding: 0 5%;
}
.fixed-action-btn{
	bottom: 45px; 
	right: 24px;
}
section .about{
	color:  white;
	font-family: 'Bungee Shade', cursive;
	font-size: 35px;
	text-align: center;
	z-index: 99;
}
#works .trabajos{
	padding: 3% 0 0 0;
}
#works{
	background-color: #6A464F;
}
#works a{
	background-color: #B16084;
}
#works a:hover{
	opacity: 0.7;
}
#works .trabajos .card-panel{
	opacity: 0;
}

#none{
	display: none;
}
#contact{
	background-image: url("../img/cielo.jpg");
	padding: 8% 0;
}
.gmail{
	color: white;
}
#mySelf{
	color: white;
	padding: 5% 0;
}
#mySelf .card-panel{
  	right:-100px;
  	margin-bottom:20px;
  	opacity:0;
  	position:relative;
}
#mySelf  p{
	left:-150px;
  	margin-bottom:20px;
  	opacity:0;
  	position:relative;
}
#mySelf #none .circle{
	right:-150px;
  	margin-bottom:20px;
  	opacity:0;
  	position:relative;
}
@media (max-width: 950px) {
	#header{
		background-size: 300%;
		padding: 25% 2%;
	}
	#nombres{
		font-size: 100px;
		padding: 5% 0;
	}
	#developer{
		font-size: 45px;
	}
	#nave{
		background-size: 22%;
	}
	#contact{
		padding: 35% 0;
	}
	#works a:hover{
	opacity:1;
	}
}
@media (max-width: 800px) {
	#header{
		background-size: 260%;
		padding: 25% 2%;
	}
}
@media (max-width: 600px) {
	body{
		font-size: 17px;
	}
	#header{
		background-size: 350%;
		padding: 20% 1%;
	}
	#nombres{
		font-size: 50px;
		padding: 5% 0;
		
	}
	#developer{
		font-size: 20px;
		text-align: center;
	}
	#nave{
		background-size: 20%;
		height: 90px;
		z-index: 99;
	}
	#ovni{
		background-image: url("../img/nave.png");
		background-repeat: no-repeat;
		background-size: 13%;
		height: 100px;
		z-index: 99;
	}
	#none{
		display: block;
	}

	#block{
		display: none;
	}
	#alien{
		padding: 0}
	#contact{
		padding: 0;
		word-wrap: break-word;
	}
	section .about{
		height: 255px;
	}
}
